@import "./variables.scss";
@import "./blocks/page.scss";

html {
    box-sizing: border-box;
}

.header-block__black {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: $white;
    background-color: $black;
}

.header-block__paragraph {
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    letter-spacing: 2px;
}

.header-block__navline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
}

.header-block__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-block__nav-link {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
}

.header-block__nav-link {
    color: $black;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-right: 22px;
}

.header-block__img {
    background-image: url("/img/header_img_fon@1x.jpg");
    width: 100%;
    background-color: darkgrey;
}

.header-block__heading {
    font-size: 44px;
    line-height: 51px;
    margin: 0;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    inline-size: fit-content;
}

.header-block__subtitle {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
    inline-size: fit-content;
}

.header-block__button {
    text-decoration: none;
    border: 1px solid $orange;
    border-radius: 35px;
    background-color: $orange;
    padding: 5px 37px 5px 37px;
    color: $white;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
}

.header-block__main--button {
    inline-size: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.header-block__svg {
    margin-right: 122px;
    margin-top: 18px;
    margin-bottom: 34px;
}

.header-block__partners {
    background-color: $black;
}
